html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    /*text-shadow: 0 .05rem .1rem rgba(999999,999999,999999);*/

}

.style_for_h1{
    color: white;
}